.app {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--primary-color);
}
