h1 {
  font-size: 1.5rem;
  margin: 10px auto;
}

.char-details-page {
  width: 100%;
  height: calc(100% - var(--header-height));
  padding-top: 15px;
  box-sizing: border-box;
  text-align: center;
}

.char-image-wrapper {
  width: 100%;
  height: 300px;
  text-align: center;
}

.char-image-wrapper img {
  height: 100%;
  margin: auto;
}
